In [1]:
import pandas as pd
import pyarrow.parquet as pq
import configparser

In [2]:
config = configparser.ConfigParser()
config.read('dwh.cfg')
YELLOW_TRIP_DATA = config['PATH']['YELLOW_TRIP_DATA']
GREEN_TRIP_DATA = config['PATH']['GREEN_TRIP_DATA']
FHVHV_TRIP_DATA = config['PATH']['FHVHV_TRIP_DATA']
FHVHV_TRIP_DATA = config['PATH']['FHVHV_TRIP_DATA']
TAXI_ZONE = config['PATH']['TAXI_ZONE']

In [3]:
meta_data = pq.read_metadata(YELLOW_TRIP_DATA)
print(meta_data)

<pyarrow._parquet.FileMetaData object at 0x000001AF47CEF650>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 3475226
  num_row_groups: 4
  format_version: 2.6
  serialized_size: 10625

In [4]:
yellow_trip = pq.ParquetFile(YELLOW_TRIP_DATA)
yellow_trip_table = yellow_trip.read()
yellow_trip_table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [7]:
batches_iter = yellow_trip.iter_batches(batch_size=10)
df = next(batches_iter).to_pandas()
df
df.to_csv('test_data.csv', index=True)

In [6]:
zone = pd.read_csv(TAXI_ZONE)
zone.head(10)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone